@import "tailwindcss";
@plugin 'daisyui';

@theme {
  --color-Night: #0c120c;
  --color-EngineeringOrange: #c20114;
  --color-DimGray: #6d7275;
  --color-AshGray: #c7d6d5;
  --color-GhostWhite: #ecebf3;
  --color-AshWhite: #d6c7c8;
}
